<div *ngIf="goods" class="products">
  <div *ngFor="let good of goods.products" class="product">
    <a [href]="good.link" [ngStyle]="{display:'block'}"><img [src]="good.img" class="thumb"></a>
    <div class="stars-outer">
      <div
        class="stars-inner"
        [ngStyle]="{width:getStarsWidth(good.stars)}"
      ></div>
    </div>
    <p><a [href]="good.link" [ngStyle]="{display:'block'}">{{good.name}}</a></p>
    <span [ngStyle]="{display:'block'}">code: {{good.asin}}</span>
    <h3>Price: {{good.price}}</h3>
    <button
      class="btn btn-success btn-lg"
      [ngStyle]="{display:'block'}"
    >buy
    </button>
  </div>
</div>
