body
  font-size: 18px
  font-family: 'Roboto', sans-serif
  font-weight: 400
.pageWrapper
  //for footer at the bottom
  position: relative
  min-height: 100vh
  //for centered content
  width: 100%
  .contentWrapper
    //footer
    padding-bottom: 50px
    //centering
    max-width: 1260px
    width: 100%
    margin: 0 auto
    .mainBody
      width: 100%
      text-align: center
      margin : 25px 0
.footer
  height: 50px
  position: absolute
  bottom: 0
  left: 0
  right: 0
  width: 100%


